<h1>Listing statuses</h1>

<div class="container">
  <div class="row">
    <div class="span4">
      <h3>Name</h3>
    </div>
    <div class="span8">
      <h3>Content</h3>
    </div>
  </div>
  
  <% @statuses.each do |status| %>
    <div class="row">
      <div class="span4"><%= status.name %></div>
      <div class="span8"><%= status.content %></div>
    </div>
    <td class="btn"><%= link_to 'Show', status %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  
  <br />
  
  <%= link_to 'New Status', new_status_path %>

</div>
